@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

section{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: url(bg.jpg)no-repeat;
  background-size: cover;
  background-position: center;
}

header{
  position: relative;
  top: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightblue;
  
}

header .logojs{
  position: relative;
  color: #000;
  font-size: 30px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1px;
}

header .navigationjs a{
  color: #000;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 2px 15px;
  border-radius: 20px;
  transition: 0.3s;
  transition-property: background;
}

header .navigationjs a:not(:last-child){
  margin-right: 30px;
}

header .navigationjs a:hover{
  background: #fff;
}

.contentjs{
  max-width: 650px;
  margin: 60px 100px;
  
}

.contentjs .infojs h2{
  color: #226A80;
  font-size: 55px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
  line-height: 60px;
  margin-bottom: 30px;
  margin-top:30px;
}

.contentjs .infojs h2 span{
  color: #fff;
  font-size: 50px;
  font-weight: 600;
}

.contentjs .infojs p{
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 40px;
}
.contentjs .infojs{
  display:flex;
  flex-direction:row;
}
.contentjs .info-btn{
  color: #fff;
  background: #226A80;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
  padding: 10px 20px;
  border-radius: 5px;
  transition: 0.3s;
  transition-property: background;
  
}
.contentjs .infojs{
  display:flex;
  justify-content: space-between
}

.contentjs .info-btn:hover{
  background: #0C4F60;
}

.media-iconsjs{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.media-iconsjs a{
  position: relative;
  color: #111;
  font-size: 25px;
  transition: 0.3s;
  transition-property: transform;
}

.media-iconsjs a:not(:last-child){
  margin-right: 60px;
}

.media-iconsjs a:hover{
  transform: scale(1.5);
}

label{
  display: none;
}

#check{
  z-index: 3;
  display: none;
}
.boxjs{
  padding:50px;
  background: rgba(0,0,0,0.8);
  width: 300px;
  border-radius: 10px;
}
.boxjs h1{
  margin-bottom: 30px;
  color: #ffff;
  text-align: center;
  text-transform: capitalize;
}
.boxjs .inputBoxjs{
  position:relative;
}
.boxjs  .inputBoxjs input{
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  letter-spacing: 1px;
  margin-bottom:30px;
  border:none;
  border-bottom: 1px solid #fff;
  background:transparent;
  outline: none;
}
.boxjs .inputBoxjs label{
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 1px;
  padding: 10px ;
  font-size: 16px;
  color: #fff;
  transition: 0.5s;
}
.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label{
  top: -20px;
  left: 0;
  color: #03a9f4;
  font-size:12px;
}
.boxjs input[type="submit"]{
  background: transparent;
  border:none;
  outline: none;
  color: #fff;
  background: #03a9f4;
  padding: 8px 16px;
  border-radius: 5px;
  font-size: 14px;
}

.column{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.farmly{
  padding: 40px;
  width: 300px;
}
.btn {
 background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%)
}

.btn {
 margin: 10px;
 padding: 15px 30px;
 text-align: center;
 text-transform: uppercase;
 -webkit-transition: 0.5s;
 transition: 0.5s;
 background-size: 200% auto;
 color: white;
 border-radius: 10px;
 display: block;
 border: 0px;
 font-weight: 700;
 -webkit-box-shadow: 0px 0px 14px -7px #f09819;
         box-shadow: 0px 0px 14px -7px #f09819;
}

.btn:hover {
 background-position: right center;
 color: #fff;
 text-decoration: none;
}

.btn:active {
 -webkit-transform: scale(0.95);
     -ms-transform: scale(0.95);
         transform: scale(0.95);
}





/* Responsive styles */

@media (max-width: 960px){
  header .navigationjs{
    ;
  }
  

  label{
    display: block;
    font-size: 25px;
    cursor: pointer;
    transition: 0.3s;
    transition-property: color;
  }

  label:hover{
    color: #fff;
  }

  label .close-btn{
    display: none;
  }

  #check:checked ~ header .navigationjs{
    z-index: 2;
    position: fixed;
    background: rgba(114, 223, 255, 0.9);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #check:checked ~ header .navigationjs a{
    font-weight: 700;
    margin-right: 0;
    margin-bottom: 50px;
    letter-spacing: 2px;
  }

  #check:checked ~ header label .menu-btn{
    display: none;
  }

  #check:checked ~ header label .close-btn{
    z-index: 2;
    display: block;
    position: fixed;
  }

  label .menu-btn{
    position: absolute;
  }

  header .logojs{
    position: absolute;
    bottom: -6px;
  }

  .contentjs .infojs h2{
    font-size: 45px;
    line-height: 50px;
  }
  .column{
    display:flex;
    flex-direction:column;
  }
  .contentjs .infojs h2 span{
    font-size: 40px;
    font-weight: 600;
  }

  .contentjs .infojs p{
    font-size: 14px;
  }
}

@media (max-width: 560px){
  .contentjs .infojs h2{
    font-size: 35px;
    line-height: 40px;
  }

  .contentjs .infojs h2 span{
    font-size: 30px;
    font-weight: 600;
  }

  .contentjs .infojs p{
    font-size: 14px;
  }
  .contentjs .infojs{
  flex-direction: column;
}